body {
  background-color: #166d3b;
  background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
}

.board {
  width: 95vw;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  background: linear-gradient(to bottom right, #fff, #9f9f9f);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.2rem 0.2rem 1rem rgba(black, 0.5);

  @media screen and (orientation: landscape) {
    width: 95vh;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  &:nth-child(odd) {
    .cell:nth-child(even) {
      background-color: rgba(#166d3b, 0.5);
    }
  }

  &:nth-child(even) {
    .cell:nth-child(odd) {
      background-color: rgba(#166d3b, 0.5);
    }
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  &:active {
    transform: scale(1.1);
  }
}
