$grey: rgb(226, 223, 216);
$duskblue: rgb(114, 141, 160);
$bluegrey: rgb(79, 91, 103);
$brown: rgb(135, 78, 35);
$olive: rgb(94, 89, 51);
$dark: rgb(57, 56, 52);
$gold: rgb(171, 136, 75);
$opacity: rgba(255,255,255,.4)