@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

$font-sizes: (
  1920px: 66.406%,
  1100px: 62.5%,
  800px: 59.6%,
  414px: 54.68%
);

html {
  @each $width, $size in $font-sizes {
    @media screen and (max-width: #{$width}) {
      font-size: #{$size};
    }
  }
}

body {
  overflow-x: hidden;
  font-size: 2.5rem;
  line-height: 1.3;
  box-sizing: border-box;
  font-family: "Josefin Sans", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-weight: 300;

  display: grid;
  grid-template-rows: 20vh auto;
  justify-items: center;
  padding-bottom: 2rem;

  background-image: linear-gradient(45deg, black, slategray);
  background-attachment: fixed;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
