body {
  line-height: 1.4;
  width: 500px;
  margin: auto;
  background-color: #ffddd2;
  font-family: "Work Sans", sans-serif;
  /*background-image: linear-gradient(38deg, #cb7d61 50%, #f2cfed 50%)*/
  background-image: linear-gradient(to right, #40baae, #f99f81, #ba88e3);
  max-width: 100%;
  overflow-x: hidden;
}

.syrup {
  position: absolute;
  top: -80px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: auto;
}

.syrup1 {
  position: absolute;
  top: -90px;
  right: -865px;
  z-index: -1;
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 5em;
  width: 5em;
  line-height: 0.9em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: -10px;
  font-family: "Kalam", cursive;
}
#tittle {
  background: #ca4246;
  background-color: #ca4246;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #875645;

  background: conic-gradient(
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: tittle-animation-rev 1s ease forwards;
  animation: tittle-animation-rev 1s ease forwards;

  cursor: pointer;
}

#tittle:hover {
  animation: tittle-animation 1s ease forwards;
}
@keyframes tittle-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

@keyframes title-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}
/* description */
p {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin: 20;
  background-color: red;
  background-image: linear-gradient(45deg, #276059, #40baae);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #875645;
}

h2 {
  position: absolute;
  left: 665px;
  bottom: 270px;
  font-size: 60px;
  font-family: "Kalam", cursive;
  background-image: linear-gradient(45deg, #40baae, #fc9f80, #ba88e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #603d32;

  -webkit-text-stroke-color: #875645;

  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: h2-animation-rev 0.5s ease forwards;
  animation: h2-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

h2:hover {
  animation: h2-animation 0.5s ease forwards;
}
@keyframes h2-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}
@keyframes h2-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

@keyframes h2-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}

.gif1 {
  position: absolute;
  top: 1050px;
  left: 30px;
  width: 100%;
  height: auto;
  z-index: -1;
}

.gif2 {
  position: absolute;
  top: 1050px;
  right: -1220px;
  width: 100%;
  height: auto;
  z-index: -1;
}

.gif3 {
  position: absolute;
  top: 350px;
  left: 30px;
  width: 100%;
  height: auto;
  z-index: -1;
}

.gif4 {
  position: absolute;
  top: 350px;
  right: -1220px;
  width: 100%;
  height: auto;
  z-index: -1;
}

form {
  background: #83c5be;
  padding: 2.5rem 2.5rem;
  border-radius: 2rem;
  width: 500px;
  margin-bottom: 60px;
  margin-left: -30px;
  padding-top: 140px !important;

  box-shadow: 1px 5px 15px rgb(74, 72, 72);
  background-image: linear-gradient(95deg, #ba88e3, #40baae);
}

.card1 {
  width: 400px;
  background-color: #b08968;
  padding: 32px;
  border-radius: 2rem;
  box-shadow: 1px 5px 15px rgb(74, 72, 72);
  background-image: linear-gradient(95deg, #40baae, #ba88e3);
  margin: auto;
}

/* button */

.submit-button {
  background-color: #f5eae6;
  width: 100%;
  padding: 0.75rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 5px 10px black;
  font-weight: 900;
  font-size: 20px;
  background-image: linear-gradient(45deg, #e29578 50%, #f2cfed 50%);
  background-size: 270%;
  background-repeat: repeat;
  background-position: top right;
  text-shadow: 3px 2px 7px black;

  animation: button-animation 0.65s 0.15s ease-out forwards;
}

#sumbit {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#submit:hover:hover,
#submit:hover:hover div {
  animation: button-animation-rev 0.65s ease-out forwards;
}

#submit:hover {
  box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

@keyframes button-animation {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

@keyframes button-animation-rev {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.button {
  background-color: #fcfdfc;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(45deg, #f2cfed 50%, #0a4234 50%);
  background-size: 270%;
  background-repeat: repeat;
  background-position: top right;
  animation: button-animation 0.65s 0.15s ease-out forwards;
  display: table;
  border-radius: 0.5em;
  text-decoration: none;
  box-shadow: 7px 4px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 1.5em 0;
  cursor: pointer;
}
/* questons */

.input-headings {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-inputs {
  display: block;
  width: 90%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #f5eae6;
  border: 1px solid #e29578;
  border-radius: 10px;
  box-shadow: 1px 5px 15px rgb(74, 72, 72);
  cursor: pointer;
}

.form-comments {
  border-radius: 10px;
  background-color: #f5eae6;
  border: 1px solid #e29578;
  padding: 0.25rem 0.75rem;
  box-shadow: 1px 5px 15px rgb(74, 72, 72);
  cursor: pointer;
}

.form-text {
  font-weight: bold;
  background-image: linear-gradient(45deg, #f3ec78, #f3ec78);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #875645;
}

/* result page */

#results {
  position: absolute;
  top: 20px;
  right: 70px;
  font-size: 20px;
  font-weight: bold;
  color: #e4de5f;
  text-shadow: 3px 2px 7px black;
  padding: 20px;
  letter-spacing: 1px;
  line-height: 45px;
}

h5 {
  text-align: center;

  font-weight: 900;
  font-size: 92px;
  line-height: 0.9em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;

  font-family: "Kalam", cursive;
}

.text {
  background: #ca4246;
  background-color: #ca4246;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #875645;

  background: conic-gradient(
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-animation-rev 0.5s ease forwards;
  animation: text-animation-rev 1s ease forwards;

  cursor: pointer;
}

.text:hover {
  animation: text-animation 1s ease forwards;
}
@keyframes text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

@keyframes text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}

h4 {
  position: absolute;
  top: 375px;
  right: 560px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding: 10px;
  margin: 20px;
  font-family: "Kalam", cursive;

  background: url(images/pic7.gif);
  background-size: 650px 200px;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.return-btn {
  padding: 20px;
  color: whitesmoke;
  border-radius: 20px;
  position: absolute;
  top: 600px;
  font-weight: bold;
  text-shadow: 3px 2px 7px black;
  box-shadow: 1px 5px 15px rgb(74, 72, 72);
  background-image: linear-gradient(95deg, #40baae, #ba88e3);
}

a:link {
  text-decoration: none;
}

.card2 {
  position: absolute;
  right: 530px;
  top: 380px;
  width: 400px;
  height: 300px;
  margin-bottom: 100px;
  background-color: #b08968;
  padding: 50px;
  padding-top: 500px;
  padding-right: 100px;
  padding-left: 100px;

  border-radius: 2rem;
  box-shadow: 1px 5px 15px rgb(74, 72, 72);
  background-image: linear-gradient(95deg, #40baae, #ba88e3);
}

.card3 {
  position: absolute;
  left: 60px;
  top: 130px;
  width: 400px;
  height: 600px;
  background-color: #b08968;

  padding: 30px;
  padding-top: 70px;
  border-radius: 2rem;
  box-shadow: 1px 5px 15px rgb(74, 72, 72);
  background-image: linear-gradient(95deg, #ba88e3, #40baae);
}

.gif5 {
  position: absolute;
  top: 500px;
  right: 60px;
  width: 100%;
  height: auto;
  z-index: -1;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.gif6 {
  position: absolute;
  top: 500px;
  right: -1050px;
  width: 100%;
  height: auto;
  z-index: -1;
  margin-bottom: 30px;
}
header {
  padding-bottom: 50px;
}
