/* HTML tags */

body {
  padding: 0%;
  background-image: url('./images/heart.jpg');
  background-attachment: fixed;
  background-size: cover;
}

label, span {
  display: flex;
  margin-bottom: 0.5rem;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
}

#radio label, #checkbox label {
  text-align: start;
  font-size:1rem !important;
  font-weight:100;
}

span {
  margin-left:7px;
  color: red;
}
h3 {
  text-align: start;
}
/* ID */

#main {
  margin-top: 1% !important;
  margin-bottom: 1% !important;
  width: 45%;
  margin: auto;
  text-align: center;
  border-style:ridge;
  background-color: white;
}


#title h1 {
  color: black;
  font-weight: bolder;
  font-weight: 600;
  line-height: 1.2;
}

#description {
  margin: 4% 10%;
  padding:20px 0px;
  text-align: center;
  font-style: italic;
  font-weight: 200;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

#radio label, #checkbox label, #text label{
  margin-bottom: 5%;
  font-size: 1.5rem;
}

#survey-form {
  margin: 0% 8%;
}

/* Input types */

input[type=text], input[type=email] {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

#radio [type=text], #checkbox [type=text] {
  width: 20%;
}

input[type=number], select {
  display: block;
  width: 50%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=radio], input[type=checkbox] {
    margin-right: 2rem;
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
}

input[type=radio]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid gray;
}

input[type=checkbox]:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid gray;
}

input[type=radio]:checked:after, input[type=checkbox]:checked:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #008CBA;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input:focus:invalid {
  background-image: url(./images/inalid.png);
  background-position:99%;
  background-size: 15px;
  background-repeat: no-repeat;
}

input:required:valid {
  background-image: url(./images/check.png);
  background-position:99%;
  background-size: 15px;
  background-repeat: no-repeat;
}

/* Text Area */

textarea {
  width: 90%;
  padding: 1rem;
  font-size: 1.1rem;
  outline: none;
}

/* Button */

button {
  background-color: #008CBA;
  border: none;
  color: #fff;
  padding: 15px 32px;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius:10px;
  width: 95%;
}


/* Media Queries */

@media (max-width: 1252px) {
  #main {
    width: 75%;
  }
}