body {
<<<<<<< HEAD
    background-image: URL(VACCINE.png);   
=======
    background-image: URL(PIC\ 3.png);   
>>>>>>> 3aff54f23bab994b72d7d0a0262ab9a343190fbf
    background-size: 2000px;
    background-position: 400px;
    align-items: center;
    color:black;
}
#survey-form {
    
    width: 500px;
    margin: 0 auto;
    height: 100px;
    margin-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#feedback1 {
    width: 455px;
    margin: 0 auto;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
#title {
    background-color: white;
    background-size: 1500px;
    border-radius: 25px;
    align-items: center;
    border: 3px solid black;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
#submit {
    margin: 0 auto;
}

h1 {
   text-align: center;
   border-radius: 25px;
   background-color: white;
   border: 3px solid black;
}
#description {
    text-align: center;
    border-radius: 25px;
    background-color: white;
    border: 3px solid black;
}
#number {
    width: 80px;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
#address {
    width: 200px;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
#email {
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
#name {
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
#notes {
    text-align: center;
}
.mask {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  
 