* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

  body {
  background-color: #526286;
  text-align: center;
  align-content: center;
}

#main{
  background-image: url(../css/images/testing2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header{
  width: 100%;
  height: 400px;
  display: block;
  opacity: 80%;
}
#cover{
  width: 100%;
  height: 420px;
  object-fit: cover;
  opacity: 80%;
}

.h3div{
  margin:0 auto;
  height:  100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}

#gifimage{
  width: 100%;
  height: auto;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

h3{
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 4px;
  font-size: 38px;
}

#title{
  font-family: 'Luckiest Guy', cursive;
  font-weight: bolder;
  font-size: 62px;
  letter-spacing: 6px;
}

#img-caption{
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_footer{
  display: flex;
  width: 99%;
  height: 95%;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
}

img {
 width: 40%;
 height: 100%;
}

#image{
  width: 100%;
  height: auto;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius:50%;
  border:2px solid #FFDFDD;
} /*User Story 8 and 9*/

#image1{
  width: 100%;
  height: auto;
  max-width: 280px;
}

#img-div{

  position: relative;
  margin: 40px 50px;
  margin-top: -180px;
  padding: 30px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  box-shadow: 2px 1px 48px -1px rgba(0,0,0,0.75);
}

#tribute-info{
  text-align: justify;
}

.factsdiv{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  text-align: left;
  line-height: 200%;
  margin: 40px 50px;
  margin-bottom: 40px;
  padding:70px;
  padding-right: 30px;
  box-shadow: 2px 1px 48px -1px rgba(0,0,0,0.75);
  text-align: justify;
}

.careerdiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin:40px 50px;
  margin-bottom: 40px;
  padding: 70px;
  padding-left: 120px;
  box-shadow: 2px 1px 48px -1px rgba(0,0,0,0.75);
}

.mvdiv{

  margin: 40px 50px;
  margin-bottom: 40px;
  padding:30px;
  box-shadow: 2px 1px 48px -1px rgba(0,0,0,0.75);
}

.iframe{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}




.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 420px;
  overflow: auto;
}



.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  right: -17px;
  background-image: url(.//images/try2.gif);
  background-size: cover;

  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: rgba(254,254,254, 0.6);
  position: relative;
  border-radius: 6px;
  text-align: center;
}

@media screen and (max-width: 600px) {

  .timeline::after {
    left: 31px;
  }


  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }


  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
