* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#main {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
}
.menu {
    background-color: black;
}
li,
a,
button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #fff6ed;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: relative;
}
.logo {
    width: 60px;
    margin-top: 0px;
    margin-right: 20px;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 50px;
}
.nav_links li a:hover {
    color: #fdb827;
}
button {
    padding: 5px 15px;
    color: black;
    background-color: #fdb827;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 0px;
}
button:hover {
    color: #fdb827; 
    background-color: purple;
}
#img-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#image {
    position: static;
    top: 20%;
    right: 30%;
    width: 500px;
}
#home-header {
    position: relative;
    top: 100%;
    right: 20%;
}
.caption {
    font-size: 30px;
    font-family: "Neucha", cursive;
    width: 60%;
    height: 70%;
    top: 25%;
    left: 40%;
    position: static;
    color: black;
    text-align: center;
}
#img-caption {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#About {
    background:black;
    align-items: center;
}
#heads {
     font-size: 40px;
     width: 500px;
     margin: 0 auto;
     color: #fdb827;
     text-align: center;
    }
.ca {
    background-image: url(kobebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 10px 30px 5px #fdb827,
    0px 2px 3px 0px;
    text-align: center;
    padding: 2em;
}
.ca.style1 {
    padding: 3em 2em 3.5em 2em;
    color: white;
    font-size: 20px;
}
.ca.style1 h3 {
    margin-bottom: 0.5em;
}
.box {
    background-image: url(champ.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 10px 30px 5px #fdb827,
    0px 2px 3px 0px;
    text-align: center;
    padding: 2em;
}
.box.style1 {
    padding: 3em 2em 3.5em 2em;
    color: white;
}
.box.style1 h3 {
    margin-bottom: 0.5em;
}
h3 {
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;

}
#story {
    font-size: 30px;
}