/*------------------- */
/* BASIC SETUP        */
/*------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------ */
/* COMPONENTS         */
/*------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto; /*top bottom left right */
}

section {
    padding: 40px 0;
}

.box {
    padding: 1%;
}

blockquote {
    font-style: italic;
    line-height: 145%;
    position: relative;
    text-align: justify;
}

/*--------HEADINGS-----*/
h1, h2{
    font-weight: 300;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h4{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    word-spacing: 4px;
    font-size: 120%
}

h3{
    font-size: 180%;
    margin-bottom: 100px;
}
/*--------HEADERS-----*/
header{
    background-image: linear-gradient( rgba(0, 0, 0, 0.801), rgba(0,0,0,0.801)), url(images/header-2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(226, 226, 226);
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #22e684;
    transition: border-bottom 0.2s;
}

/*--------BUTTON-----*/

.btn:link,
.btn:visited {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 200;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #22e6845e;
    border: 1px solid #22e684c7;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #22e684c7;
    color: #b0f7d3c7;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #22e684c7;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #22e684c7;
    color: #fff;
}

/*----SECTION FEATURES ---*/
.section-origin{
    background-color: rgba(255, 255, 255, 0.596);
}

.eren-section{
    margin: auto;
    width: 50%;
    padding: 5px;
}

.eren-section h3{
    text-align: center;
    margin-bottom: 10px;
    color: green;
}

.eren-section img{
    height: auto;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}

.eren-section blockquote{
    line-height: 145%;
    word-spacing: 2px;
}

#tribute-info{
    text-align: justify;
}

#tribute-info .box{
    line-height: 145%;
}

#tribute-info h4{
    color: green;
}

#tribute-info i{            
    font-size: 150%;
}

/*--------SECTION TESTIMONIALS-----*/

.section-testimonials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(images/header-3.jpg);
    background-size: cover;
}

.section-testimonials h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid green;
}

.section-testimonials blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    color: white;
}

.section-testimonials cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    color: rgb(177, 241, 177);
}

.section-testimonials blockquote:before {
    content: '\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

.section-testimonials cite img{
    height: 120px;
    width: 110px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    border: 2px solid white;
}

.testimonial-quote {
    height: 200px;
}

/*--------SECTION TITANS-----*/

.section-titans h2{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid green;
}
.section-titans img{
    width: 800px;
    height: 700px;
}

.slider-holder
{
    width: 800px;
    height: 700px;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder
{
    width: 2400px;
    background-color: green;
    height: 700px;
    clear: both;
    position: relative;
   
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder
{
    left: 0px;
}

#slider-image-2:target ~ .image-holder
{
    left: -800px;
}

#slider-image-3:target ~ .image-holder
{
    left: -1600px;
}

.button-holder
{
    position: relative;
    top: -20px;
}

.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: green;
}


/*-------FOOTER--------------- */

footer{
    background-color: #333;
    height: 80px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:visited,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd
}

footer p{
    color: #888;
    text-align: center;
    margin-top: -5px;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
    color: inherit;
}

.ion-social-facebook,
.ion-social-linkedin,
.ion-social-instagram{
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-linkedin:hover{
    color: #00aced;
}

.ion-social-instagram:hover{
    color: #517fa4;
}

