body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-image: radial-gradient(gray, black, black);
}

#title {
    color: white;
    writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    text-transform: uppercase;

}

#outerContainer {
    max-width: calc(100vmin - 10px);
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

}

#container {
    position: relative;
    padding-top: 100%; //100% of width (aspect ratio 1:1)
    width: 100%;
    height: 0;
    justify-content: center;
    align-items: center;
}

#chessBoard {
    // background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 2px 2px 10px rgba(255,255,255,0.5);

}

 
%innerBox-shared{
    // display: inline-block;
    width: calc(100% / 8);
    height: calc(100% / 8);
    box-sizing: border-box;
    background-color: rgba(50,50,200,0.2);
    border: 0.5px white solid;
    box-shadow: inset 0 0 2px 2px rgba(0,0,50,1);
    text-align: center; 
    font-size: 10vmin;
   
}


.innerBox1 {
    @extend %innerBox-shared;
}


.innerBox2{
    @extend %innerBox-shared;
}

.player1 {
    color: brown;
    text-shadow: 2px 2px 2px white;
}

.player2 {
    color: maroon;
    text-shadow: 2px 2px 2px white;
}
