body {
    margin: 0;
    padding: 0;
   background-image: url("../assets/images/FreudSignature.png"); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    margin: 2px, 2px, 2px, 2px;
    padding: 1rem,1rem;
    border-style: groove;
    background-color: darkgray;
    color: black;
}

#image {

    border-radius: 20%;
    display: flex;
    margin: auto;
}

#img-caption {
    background-color: darkgray;
    color: black;
    width: inherit;
    text-align: center;
    border-style: groove ;
    text-emphasis: bold;
}

#tribute-info {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-style: groove ;
    background-color: darkgray;
    color: black;
    width: 60%;
    text-align: justify;
  }
  #tribute-info p  {
    margin-left: 2rem;
    margin-right: 2rem;  
}

#tribute-link {
    margin-left: 50%;
}
#article1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    color: black;
    border-style: groove;
}

#article1 p {
    margin-left: 2rem;
    margin-right: 2rem;  
}

#article2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    color: black;
    border-style: groove;
}

#article2 p {
    margin-left: 2rem;
    margin-right: 2rem;  
}

a {
    margin-left: 70%;
    
}
