body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("assets/background-image.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: 300px;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 165, 145, 0.1);
    box-shadow: 0 0 5px 5px gray;
    color: white;
}

h1 {
    width: 90%;
    background-color: rgba(0, 165, 145, 0.2);
    box-shadow: 0 0 5px 5px gray;
    color: wheat;
    box-sizing: border-box;
    padding: 20px;
}


h2 {
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 165, 145, 0.3);
    box-shadow: 0 0 5px 5px gray;
    color: white;
    box-sizing: border-box;
    padding: 20px;

}