@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 66.406%;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 59.6%;
  }
}
@media screen and (max-width: 414px) {
  html {
    font-size: 54.68%;
  }
}

body {
  overflow-x: hidden;
  font-size: 2.5rem;
  line-height: 1.3;
  box-sizing: border-box;
  font-family: "Josefin Sans", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
  font-weight: 300;
  display: grid;
  grid-template-rows: 20vh auto;
  justify-items: center;
  padding-bottom: 2rem;
  background-image: linear-gradient(45deg, black, slategray);
  background-attachment: fixed;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding-top: 5rem;
}
.header > #description {
  font-weight: 300;
  font-size: 2.1rem;
  text-align: center;
  color: white;
}

#title {
  color: white;
  text-align: center;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: 0 0 1rem white;
  margin-bottom: 1rem;
}

.main {
  padding-top: 2rem;
}

#survey-form {
  padding: 5rem 2rem 2rem 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.3);
}

.text-group {
  margin-top: 2rem;
  margin-left: 1.5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 2.5rem;
}

.text-input {
  position: relative;
  margin-bottom: 0.3rem;
}
.text-input::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  height: 0.1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
}
.text-input_error::after {
  background: rgba(220, 20, 60, 0.1);
}

.text__label {
  font-weight: 300;
  position: absolute;
  font-size: 2.2rem;
  left: 0.5rem;
  transition: all 0.1s ease-in;
  top: 50%;
  transform: translateY(-50%);
  cursor: initial;
}
.text__label_error {
  color: crimson;
  text-shadow: 0 0 0.2rem rgba(220, 20, 60, 0.3);
}

.text__field {
  appearance: none;
  font-weight: 300;
  padding-bottom: 0.18rem;
  z-index: 2;
  font-family: "Josefin Sans";
  position: relative;
  width: 100%;
  height: 100%;
  color: #666;
  padding-left: 0.5rem;
  font-size: 2.2rem;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid transparent;
  transition: border-bottom 0.1s ease-in;
  background-color: transparent;
}
.text__field::placeholder {
  color: transparent;
}
.text__field:focus {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.text__field_error {
  color: crimson;
}
.text__field_error:focus {
  border-bottom: 0.1rem solid rgba(220, 20, 60, 0.5);
}
.text__field:not(:placeholder-shown) + .text__label, .text__field:focus + .text__label {
  top: -2.4rem;
  transform: translateY(0);
  font-size: 1.9rem;
  font-weight: 300;
}

.text__toolkit {
  padding-top: 0.5rem;
  display: none;
  width: 100%;
  font-size: 0.7em;
  padding-left: 0.5rem;
}
.text__toolkit_error {
  display: block;
  color: crimson;
}

.drop-group {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.drop-input {
  width: 100%;
}

.drop__label {
  font-size: 2.2rem;
  font-weight: 300;
}
.drop__label_error {
  color: crimson;
  text-shadow: 0 0 0.2rem rgba(220, 20, 60, 0.3);
}

.drop__field {
  appearance: none;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  appearance: none;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  border: none;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
  padding: 0.2rem;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
  color: black;
  transition: border-bottom 0.1s ease-in;
}
.drop__field_error {
  border-bottom: 0.1rem solid rgba(220, 20, 60, 0.3);
}
.drop__field::-ms-expand {
  display: none;
}
.drop__field:focus {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.drop__field_error:focus {
  border-bottom: 0.1rem solid rgba(220, 20, 60, 0.5);
}

.drop__option {
  font-weight: 300;
  font-size: inherit;
}

.drop__toolkit {
  display: none;
  width: 100%;
  padding-top: 0.3rem;
  font-size: 0.7em;
}
.drop__toolkit_error {
  display: block;
  color: crimson;
}

.radio-group, .check-group {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 2rem auto;
  padding: 1.5rem;
  border-radius: 1rem;
}
.radio-input {
  width: 100%;
  padding-left: 0.5rem;
}

.radio__question, .check__question {
  font-weight: 300;
  font-size: 2.2rem;
}
.radio__question_focused {
  text-shadow: 0 0 0.2rem rgba(44, 130, 201, 0.6);
}
.radio__question_error {
  color: crimson;
  text-shadow: 0 0 0.2rem rgba(220, 20, 60, 0.3);
}

.radio__field {
  outline: none;
  border: 0px;
  width: 100%;
  height: 1.3em;
  display: inline-block;
}
.radio__field:checked + .radio__label, .radio__field:checked + .check__label {
  color: rgba(0, 0, 255, 0.7);
}

.radio__label, .check__label {
  font-size: 2.2rem;
  transition: color 0.1s ease-in;
  padding-left: 0.6rem;
}

.radio__option, .check__option {
  font-size: 2.2rem;
  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: start;
  margin-top: 0.5rem;
  align-items: baseline;
}

.radio__toolkit, .check__toolkit {
  width: 100%;
  font-size: 0.7em;
}
.radio__toolkit_error {
  display: block;
  color: crimson;
}

.check-input {
  width: 100%;
  padding-left: 0.5rem;
}

.check__question_focused {
  text-shadow: 0 0 0.1rem rgba(44, 130, 201, 0.6);
}
.check__question_error {
  color: crimson;
  text-shadow: 0 0 0.1rem rgba(220, 20, 60, 0.3);
}

.check__field {
  transform: scale(1.3);
}
.check__field:checked + .check__label {
  color: rgba(0, 0, 255, 0.7);
}

.check__toolkit_error {
  display: block;
  color: crimson;
}

.area-group {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1rem auto;
}

.area-input {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
}

.area__label {
  font-size: 2.2rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  transition: all 0.1s ease-in;
}
.area__label_error {
  color: crimson;
  text-shadow: 0 0 0.2rem rgba(220, 20, 60, 0.3);
}

.area__field {
  appearance: none;
  outline: none;
  border: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: block;
  font-family: "Josefin Sans", serif;
  font-weight: 300;
  padding: 1.5rem;
  text-align: left;
  font-size: 2.2rem;
  resize: none;
  width: 100%;
  border-top-left-radius: 0;
}
.area__field::placeholder {
  color: transparent;
}
.area__field:focus {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
}
.area__field_error {
  border: 0.1rem solid rgba(220, 20, 60, 0.3);
  box-shadow: 0 0 0.2rem rgba(220, 20, 60, 0.3);
}
.area__field_error:focus {
  border: 0.1rem solid rgba(220, 20, 60, 0.5);
}
.area__field:not(:placeholder-shown) + .area__label, .area__field:focus + .area__label {
  top: -2.4rem;
  font-size: 1.9rem;
  transform: translateY(0);
  font-weight: 300;
}

.area__toolkit {
  display: none;
  width: 100%;
  font-size: 0.7em;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
}
.area__toolkit_error {
  display: block;
  color: crimson;
}

.button {
  margin: 2rem 0;
  width: 100%;
  padding: 1.2rem 1rem 1rem 1rem;
  font-size: 1.8rem;
  font-family: "Josefin Sans";
  font-weight: 300;
  text-transform: uppercase;
  vertical-align: middle;
  outline: none;
  border: none;
  background-color: #222;
  color: white;
  box-shadow: 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
}
.button:active {
  transform: translateY(0.1rem);
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.modal__button {
  border-radius: 1rem;
}

.modal {
  opacity: 0;
  line-height: 1.3;
  display: inline-block;
  position: fixed;
  top: -100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  height: auto;
  background-color: white;
  font-size: 1.5rem;
  padding: 2rem 2rem 0.5rem 2rem;
  border-radius: 1rem;
  max-width: 45rem;
  width: 95%;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.modal_shown {
  opacity: 1;
  top: 50%;
}

.key-value {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
  margin: 1rem;
  display: flex;
  align-items: center;
}

.technologies {
  flex-direction: column;
  align-items: flex-start;
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.backdrop {
  opacity: 0;
  position: fixed;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  transition: opacity 0.5s ease-in;
}
.backdrop_shown {
  opacity: 1;
  height: 100vh;
  width: 100vw;
}

.question {
  display: block;
  margin-right: 1rem;
  padding: 1rem;
  background-color: #555;
  color: white;
}

.techs {
  width: 100%;
}

.answer {
  display: inline-block;
  padding: 0.5rem;
}

.answer6 {
  display: block;
  margin: 1rem;
}

.tech_list {
  padding: 1rem;
}

.tech_item {
  padding: 0.5rem;
}

/*# sourceMappingURL=index.css.map */
