@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: size;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: size;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: size;
  }
}
@media screen and (max-width: 414px) {
  html {
    font-size: size;
  }
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  line-height: 1.3;
  box-sizing: border-box;
  font-family: "Josefin Sans", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-weight: 300;
  display: grid;
  grid-template-rows: 20vh auto;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.header, .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#survey-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.text-group {
  margin: 2rem;
  display: grid;
  grid-template-columns: 15rem;
  grid-template-rows: auto 1rem;
}

.text-input {
  position: relative;
  margin-bottom: 0.3rem;
}
.text-input::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  height: 0.1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
}
.text-input_error::after {
  background: rgba(220, 20, 60, 0.1);
}

.text__label {
  position: absolute;
  font-size: 1rem;
  left: 0.5rem;
  transition: all 0.6s cubic-bezier(0, 1, 0, 1);
  top: 50%;
  transform: translateY(-50%);
  cursor: initial;
}
.text__label_error {
  color: crimson;
}

.text__field {
  appearance: none;
  padding-bottom: 0.18rem;
  z-index: 2;
  font-family: "Josefin Sans";
  position: relative;
  width: 100%;
  height: 100%;
  color: #666;
  padding-left: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid transparent;
  transition: border-bottom 0.1s ease-in;
  background-color: transparent;
}
.text__field::placeholder {
  color: transparent;
}
.text__field:focus {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.text__field_error {
  color: crimson;
}
.text__field_error:focus {
  border-bottom: 0.1rem solid rgba(220, 20, 60, 0.5);
}
.text__field:not(:placeholder-shown) + .text__label, .text__field:focus + .text__label {
  top: -1.1rem;
  transform: translateY(0);
  font-size: 0.8rem;
}

.text__toolkit {
  display: none;
  width: 100%;
  font-size: 0.8em;
  padding-left: 0.5rem;
}
.text__toolkit_error {
  display: block;
  color: crimson;
}

.drop-group {
  display: grid;
  grid-template-columns: 16rem;
  grid-template-rows: auto 1rem;
  margin: 2rem;
}

.drop-input {
  width: 100%;
}

.drop__label_error {
  color: rgba(220, 20, 60, 0.8);
}

.drop__field {
  appearance: none;
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  appearance: none;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  border: none;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 0.2rem;
  font-size: inherit;
  font-weight: 300;
  text-align: center;
  color: gray;
  transition: border-bottom 0.1s ease-in;
}
.drop__field_error {
  border-bottom: 0.1rem solid rgba(220, 20, 60, 0.2);
}
.drop__field::-ms-expand {
  display: none;
}
.drop__field:focus {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.drop__field_error:focus {
  border-bottom: 0.1rem solid rgba(220, 20, 60, 0.5);
}

.drop__option {
  font-weight: 300;
  padding: 1rem;
  font-size: inherit;
  outline: none;
}

.drop__toolkit {
  display: none;
  width: 100%;
  font-size: 0.8em;
}
.drop__toolkit_error {
  display: block;
  color: crimson;
}

.radio-group {
  margin: 2rem;
}

.radio-input {
  padding-left: 1rem;
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
}

.radio__field {
  outline: none;
}
.radio__field:checked + .radio__label {
  color: rgba(0, 0, 255, 0.7);
}

.radio__label {
  padding-left: 0.2rem;
  transition: color 0.15s ease-in;
}

/*# sourceMappingURL=index.css.map */
