.chessboard {
            display: flex;
            flex-wrap:wrap;
            height: 75vmin;
             width: 75vmin;
            margin: 0 auto;
            
            .light, 
            .dark {
                flex-basis: 12.5%;
                height: 12.5%;
                text-align: center;
                            
                    .pieces {
                        max-height: 75%;
                        max-width: 75%;
                        display: inline-block;
                        margin-top: 10%;

                    }
            }
}