* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    background-image: url("https://images5.alphacoders.com/112/1125315.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
    font-family: monospace;
    font-stretch: ultra-expanded;
    letter-spacing: 10px;
    color: #fff;
  }  

#container {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    max-width: 550px;
    max-height: 550px;
    width: 100vw;
    height: 100vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5),
                -20px -20px 50px rgba(0, 0, 0, 0.5);
    border-left: 18px solid rgba(0, 0, 0, 0.1);
    border-top: 18px solid rgba(0, 0, 0, 0.2);
    border-right: 18px solid rgba(0, 0, 0, 0.3);
    border-bottom: 18px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 0;                
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8vw;
}

#row-8,
#row-7 {
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 480px) {
    .main-div {
      border: 18px solid transparent;
      -webkit-box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.75);
              box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.75);
    }
    .box {
      font-size: 2.5rem;
      line-height: 56px;
    }
  }