/*------------------- */
/* BASIC SETUP        */
/*------------------- */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-image: url(images/bg-thin.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    scroll-behavior: smooth;
    place-items: center;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.contact-form label{
  display: none;
}

/*--------------------------- */
/* REUSABLE COMPONENTS        */
/*--------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto; /*top bottom left right */
}


section {
    padding: 40px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 200;
    text-transform: uppercase;
    padding: 40px;
}

h1,#name-label, #email-label, #number-label {
    display: none;
}

.personal-details-form h2{
  padding: 0;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  padding: 30px;
}

.main-header{
  background-color: #333;
  transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
  border-top: 3px solid #1686d9;
  height: 50px;
  z-index: 5050;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #d6d9dc;
  display: none;
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 0;
    margin-left: 50px;
    cursor: pointer; 
}

/* Main nav */


.main-nav {
    float: center;
    list-style: none;
    margin-top: 10px;
    text-align: center;
    color: white;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 12px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(0, 132, 255);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/*---------DETAILS FORM -----------*/
.personal-details-form{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  place-items: center;
}

.id-logo{
  height: 70px;
  top: -35px;
  left: 120px;
  position: absolute;
  padding-bottom: 5px;
}

::selection{
  background: #1686d9;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.wrapper .title-text{
  display: flex;
  width: 200%;
  position: relative;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #1686d9, #8ac5ec);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}

.signup-description{
  margin: 20px;
  text-align: center;
  border-top: 2px solid #1686d9;
  padding: 30px;
}

#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input,
.form-inner form .field select{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus,
.form-inner form .field select:focus{
  border-color: #1686d9;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #1686d9;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #1686d9, #8ac5ec);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}


/*-------------- BUTTON ------------------*/


.button {
	background-color: #1686d9;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
  opacity: 1;
}

.button:hover{
	background-color: white;
		color: #1686d9;
		border: 2px solid #1686d9;
    opacity: 1;
}

.bet-buttons{
  align-items: center;
  text-align: center;
  margin-left: -70px;
  padding-bottom: 30px;
}
/*------------------Checkbox section --------------------------*/

.main-content {
  display: none;
}

.main-content h2 {
    text-align: center;
}

.main-content ul {
    list-style-type: none;
    -webkit-columns: 5;
    -moz-columns: 5;
    columns: 5;
  }
  
.main-content  li {
    display: inline-block;
  }
  
.main-content  input[type="checkbox"][id^="cb"],
.main-content input[type="checkbox"][id^="rb"] {
    display: none;
  }
  
.main-content label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.main-content label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
.main-content  label img {
    height: auto;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  .main-content :checked+label {
    border-color: #ddd;
  }
  
  .main-content :checked+label::before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  
  .main-content :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }

.main-content  label span{
      display: block;
      text-align: center;
  }

form .error {
    color: #ff0000;
    font-size: 50%;
    font-family: 'Lato', 'Arial', serif;
  }

/*----mythical-five-section----*/

.mythical-five-container{
  background-color: rgb(247, 244, 244);
  position: relative;
}

.mythical-five-container img{
  opacity: 1;
}
/*----form validation ----*/

  input.valid.success-alert {
  border: 2px solid #4CAF50;
  color: green;
  }

/*----prizes pop up ----*/
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.modal-content img{
  margin-top: 15px;
  height: 400px;
}

.modal-content input{
  width: 50%;
  display: block;
  margin: 15px auto;
  padding: 8px;
  border: 1px solid gray;
}

.modal-content .close{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.modal-content .close:hover{
  color: #666;
}

/*---prizes-slideshow ----*/
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
  left: 20%;
  top: 30%;
}

.next{
  left: 50%;
  top:30%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /*border-radius: 3px 0 0 3px; */
}


/* Number text (1/2 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*-------LIVESTREAM SECTION--------------- */
.livestream-area{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  place-items: center;
  margin: auto;
  width: 60%;
  background-color:rgba(247, 244, 244, 0.671);
}

textarea{
  border-radius: 5px;
  border-color: rgba(247, 244, 244, 0.671);
}

.livestream-area .wrapper{
  overflow: hidden;
  max-width: 100%;
  background: rgb(247, 244, 244);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  
}

/*-------FOOTER--------------- */

footer{
  background-color: #333;
  height: 80px;
  font-size: 80%;
}

.footer-nav{
  list-style: none;
  float: left;
}

.social-links{
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
  margin-right: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:visited,
.social-links li a:visited{
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd
}

footer p{
  color: #888;
  text-align: center;
  margin-top: -5px;
}

.social-links li a:link,
.social-links li a:visited{
  font-size: 160%;
  color: inherit;
}

.ion-social-facebook,
.ion-social-linkedin,
.ion-social-instagram{
  transition: color 0.2s;
}

.ion-social-facebook:hover{
  color: #3b5998;
}

.ion-social-linkedin:hover{
  color: #00aced;
}

.ion-social-instagram:hover{
  color: #517fa4;
}

  