h1, h3 {
	color: white;
	font-weight: 400;
}

header {
	display: flex;
	padding: 0 15px;
	max-width: 800px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style: none;
}

li {
	display: inline;
	padding: 6px;
}

.hero {
	background-color: gray;
	background-size: cover;
	height: 420px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	background-color: blue;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
}

.card-container {
	max-width: 800px;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	height: 300px;
	width: 230px;
	border: 1px solid darkgray;
	border-radius: 3px;
	margin: 10px;
}



.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
