<!--
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body {
        width: 98%;
        margin-top: 50px;
        background-image: url("assets/background9.jpg");
        background-position: center;
        background-size: cover;
        font-family: 'Hammersmith One', sans-serif;
        display: flex;
        scroll-behavior: smooth;
       }
       
        #outer {
                width: 25%;
                max-height: 100% ;
                padding-left: 50px; padding-right: 10px; padding-top: 5px; 
                border-radius: 30px;
                margin: 10px; margin-right:100px; 
                margin-top: 10px;
                background: rgba(255, 255, 255,0.7);
                background-position: left;
                background-size: cover;
                text-align: left;
                flex-basis: 25%;
                }

        #outer h1 { 
                margin-bottom: 50px;
                font-size: 40px;
                color: #000000;
                font-family: 'Hammersmith One', sans-serif;
                line-height: 1.5;
                }

        #outer p { 
                text-justify: auto;
                color:#0F0F0F;
                font-family: 'Hammersmith One', sans-serif;
                line-height: 2;
                }
        
        #title {
                margin-right: 10px;
                margin-top: 30px;
                margin-left: 10px;
                }
        
        #description {
                margin-right: 10px;
                margin-top: 30px;
                margin-left: 10px;
                }

        #back {
                width: 150px; height: auto;
                padding-bottom: 20px;
                justify-content: center;
        }

h2 {
        font-size: 60px;
        font-weight: bolder;
        color: #0F0F0F;
        }

h3 {
        font-size: 40px;
        font-weight: bolder;
        color: #0F0F0F;
        }

        #result {
                width: 60%; height: auto;
                padding-left: 20px; padding-right: 20px; padding-bottom: 20px;
                border-radius: 30px;
                background: rgba(255, 255, 255,0.7);
                text-align: left; 
                height: 100%;
                }

        #result h2 {
                margin-bottom: 50px; margin-left: 30px;
                font-size: 45px;
                color: #000000;
                font-family: 'Hammersmith One', sans-serif;
                
                }

        #image {
                width: 95%; height: auto;
                padding-bottom: 20px; padding-left: 10px; padding-right: 10px;
                border: 0px transparent;
                border-radius: 50px;
                }


                
-->