html, body {
    font-family: 'VALORANT', sans-serif;
}

body {
    background-image: url(assets/vl_bg4.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-color: darkgray;
}

#inner {
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    top: 5;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    width: 1000px;
    height: 150px;
    margin-bottom: 40vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    color: white;
    text-align: center;
}



