/*USE GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*SET BODY ELEMENT TO FLEX AND SET THE DIRECTION TO COLUMN SO THE HEADER AND 
CHESSBOX-CONTAINER WILL ALIGN VERTICALLY AND CENTERED IT*/
/*USED LINEAR GRADIENT TO SET BG COLOR*/
body{
	font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
   	background: linear-gradient(#3CA55C,#605C3C);
}

/*HEADING STYLE*/
.header h1 {
	font-size: 55px;
    color: white;
}

/*PARAGRAPH STYLE*/
.header p{
	font-size: 20px;
	color: white;
	text-align: center;
	font-weight: bold;
}

/*APPLIED VARIOUS FLEXBOX PROPERTIES TO CHESSBOARD-CONTAINER*/
.chessboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 40vw;
    height: 40vw;
    border-radius: 10px;
    border: 50px black solid;
}

/*SET THE WIDTH AND HEIGHT TO SAME PERCENT VALUE TO ENSURE FLEXBOXES WILL BE A SQUARE*/
/*USED VW MEASUREMENT TO ENSURE RESPONSIVENESS*/
.chessboard-container .box1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 12.5%;
    height: 12.5%;
    background-color: darkgreen;
    text-align: center;
    font-size: 4vw;
}

/*SET THE WIDTH AND HEIGHT TO SAME VALUE TO ENSURE FLEXBOXES WILL BE A SQUARE*/
/*USED VW MEASUREMENT TO ENSURE RESPONSIVENESS*/
.chessboard-container .box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 12.5%;
    height: 12.5%;
    background-color: beige;
    font-size: 4vw;
}