$dark: #252525;
$light: #a7a7a7;
$black: #000;
$white: #fff;
$lgrey: #6e7f80;
$lop: rgba(167,167,167, 0.45);
$dop: rgba(25,25,25,0.45);

h1{
    color: $black;
    text-shadow: 0px 0px 3px $light, -1px -1px $light, 1px 1px $light;
}

#vs {
    color: $dark;

}

.light {
    background-color: $lop;
}

.dark {
    background-color: $dop;
}