body {
    background-image: url("https://i.imgur.com/udVFjNF.jpg");
    background-color: $dark;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


header {
    text-align: center;
    margin-top: 2vh;
}

#vs {
    font-size: 3.5vmin;
}

.chessboard {
    border: .5vmin solid $light;
}

.pieces {
    cursor: pointer;
    transition: transform .5s;
}

.pieces:hover {
    transform: scale(1.25);
}

.lp1,
.dp1 {
    cursor: pointer;
    transition: 1.5s;
}

.lp2,
.dp2 {
    cursor: pointer;
    transition: 3s;
}
.lp1:hover {
    transform: translate(0, 9.375vmin);
}

.lp2:hover {
    transform: translate(0, 18.75vmin);
}

.dp1:hover {
    transform: translate(0, -9.375vmin);
}

.dp2:hover {
    transform: translate(0, -18.75vmin);
}