*{
    font-size: 5vw;
    text-align: center;
}
.chessboard{
    display:flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vw;
    margin:auto;
}
.tile{
    width: 12.5%;
	height: 12.5%;
    background-color: chocolate;

}

div:nth-child(-2n+8), 
div:nth-child(8) ~ div:nth-child(-2n+15), 
div:nth-child(16) ~ div:nth-child(-2n+24),
div:nth-child(24) ~ div:nth-child(-2n+31),
div:nth-child(32) ~ div:nth-child(-2n+40),
div:nth-child(40) ~ div:nth-child(-2n+47),
div:nth-child(48) ~ div:nth-child(-2n+56),
div:nth-child(56) ~ div:nth-child(-2n+63) {
        background-color:rgb(126, 57, 9);
}

.chessboard:hover .wpawn4{
    animation: move1 1s linear forwards 1;
}
.chessboard:hover .bpawn5{
    animation: move2 1s linear forwards 2s 1;

}
.chessboard:hover .whorse{
    animation: move3 2s linear forwards 3s 1;
}
.chessboard:hover .bhorse{
    animation: move4 2s linear forwards 5s 1;
}

.chessboard:hover .wbishop2{
    animation: move5 1s linear forwards 7s 1;
}

@keyframes move1{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateY(-210%);
    }
    
}

@keyframes move2 {
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateY(200%);
    }
    
}

@keyframes move3 {
    0%{
        transform:translateX(0);
    }
    33%{
        transform: translateX(100%);
    }
    100%{
        transform: translateY(-200%) translateX(100%);
    }
    
}

@keyframes move4 {
    0%{
        transform:translateX(0);
    }
    33%{
        transform: translateX(100%);
    }
    100%{
        transform: translateY(200%) translateX(100%);
    }
}


@keyframes move5 {
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateY(-440%) translateX(-400%);
    }
}