<!--

body{ background-color: wheat;}
    
* {
    box-sizing: border-box; width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main { 
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color:#674d3c;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.menu { background-color:#F2D0A4;
        margin: 0px; 
        padding: 0px; 
        font-size: 30px;}

#logo {top: 0px; left: 0px; 
        align-self: center;
        width: 60px; height: auto;
        cursor: pointer;}

.navigationlinks{list-style-type: none;}

.navigationlinks {
                    font-size: 30px;
                    justify-content: space-evenly;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.tribute-link { color:#674d3c; 
                font-size: 30px;
                cursor: pointer;
                }

li, a, button {
            font-size: 25px;
            color:#282B28;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
button { 
            color: #003B6F;
            background-color:#E2D58B;
            width: 300px;
            border-radius: 50px;
            cursor: pointer;}
              
button:hover {
                background-color:#e4d1d1}

header {    padding: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;}

#header1{   width: 900px; height: 100px;
            padding: 15px;
            margin: auto;
            align-items: center; justify-content: center; 
            font-size: 130px; color: #003B6F;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}

#header2{   width: 400px; height: 100px;
            padding-top: 60px; padding-bottom: 90px;
            margin: auto;
            align-items: center; justify-content: center; 
            font-size: 60px; color:#003B6F;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

#header3{   width: 400px; height: 15px;
            padding-top: 0px;
            margin: auto; 
            align-items: center; justify-content: center;
            font-size: 30px; color:#003B6F;}
#logo{   
            width: 70px; height: auto;
            padding-top: 0px;
            margin: auto;
            display: flex;
            position: center;
            flex-direction: center;}

#header4{   width: 1000px; height: auto;
            padding-top: auto;
            margin: auto; 
            align-items: center; justify-content: center;
            font-size: 100px; color:#003B6F;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

#tribute-info{  
                align-items: center;
                padding-top: 10px;
                font-size: 30px; color:black;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

#frame {
        width: 485px; height: auto;
        justify-content: center;
        margin: auto;
        position: center;        
}

#image {   
            width: 180px; height: auto;
            justify-content: center;
            margin: auto;
            position: center;          
    }
    
#header5 { font-size: 120px;
                color: #3b3a30;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
   
#image-caption {
                align-items: center;
                padding-left: 100px; padding-right: 100px;
                font-size: 20px; color: #36486b;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
