@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#head{
    position: sticky;
    text-align: center;
    width: 100%;
    top: 0px;
    background-color: white;
    
    
}

#title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

#menu{
    text-align: center;
    font-size: 20px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: white;
  
}

a:hover{
    color: grey;
}

#links{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: black;
    
}

#img-div{
    text-align: center;    
    padding-bottom: 20px;
}
#image{
    max-width: 100%;
}

#tribute-info {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 50px;
    
}

p{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 30px;
    
}

#tribute-info{
    background-color: grey;
    color: white;
    scroll-margin-top: 6em;
    padding: 0px;
}
#tribute-info h1{
    background-color: black;
}

#music-container {
    scroll-margin-top: 6em;
}

#music-container h1{
    background-color: black;
    color: white;
    text-align: center;    
}

#time-line{
    display: flex;
    justify-content: space-around;
    background-color: grey;
    align-items: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    flex-direction: column-reverse;
    text-align: center;
    
}

#time-line img{
    width: 150px;
    height: 150px;
    
}

