@font-face {
    font-family: "Primetime";
    src: url("primetime.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: block;
}

header {
    background-position: center;
    background-image: url("images/JENNIE BG.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
    display: block;
    margin-bottom: 50px;
}

div {
    display: block;
}

.nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    padding: 10px;
    background-color: white;
}

.nav-item {
    font-family: "Primetime";
    color: #DCA0AC;
    text-decoration: none;
}

a:hover {
    color: black;
}

.outer-header {
    width: 100%;
    height: 100vh;
}

.inner-header {
    width: max-content;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#title {
    font-family: "Primetime";
    color: white;
    font-size: 125px;
    letter-spacing: 10px;
    padding: 40px;
}

article {
    display: block;
}

.about-container {
    margin: 50px;
}

.about-container h1 {
    text-align: center;
    font-family: "Primetime";
    color: #DCA0AC;
    font-size: 30px;
    letter-spacing: 5px;
}

.about-container h4 {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#tribute-info {
    margin-bottom: 15px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.about-container .source-btn button {
    padding: 9px 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    background-color: #DCA0AC;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 10px;
    text-decoration: none;
    cursor: pointer;
}

.facts-container {
    margin: 50px;
}

.facts-container h1 {
    text-align: center;
    font-family: "Primetime";
    color: #DCA0AC;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

#facts-list {
    text-align: center;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.facts-container li {
    margin: 10px;
    background-color: transparent;
    color: black;
}

.facts-container li:hover {
    background-color:#DCA0AC;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

#dogs #img-div #image {
    width: 15%;
    padding: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dogs #img-div figure {
    font-size: 10px;
}

.timeline-container {
    margin: 50px;
}

.timeline-container h1 {
    text-align: center;
    font-family: "Primetime";
    color: #DCA0AC;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.timeline-container li {
    margin: 10px;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.timeline-container li:hover h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #DCA0AC
}

.timeline-container li:hover p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.socials-container {
    margin: 50px;
}

.socials-container h1 {
    text-align: center;
    font-family: "Primetime";
    color: #DCA0AC;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.socials-box {
    width: 90%;
    padding: 10px;
    background: transparent;
    margin: auto;
    display: flex;
    justify-content: center;
}

.icon {
    width: 200px;
    height: 200px;
    background: transparent;
    margin: 0px 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: scale(1.3);
    background: #DCA0AC;
}

.icon img {
    display: block;
    width: 200px;
}

.socials-box .icon a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.socials-box .icon a:hover {
    color: #DCA0AC;
}