html {
    scroll-behavior: smooth;
  }

html, body {
    height: 50%;
    font-family: 'Bangers', cursive;
}

#main {
    background-color: black;
    width: 500px 1000px;
}

#title {
    text-align: center;
    color: pink;
    font-size: 50px;
}

#img-div {
    text-align: center;
    align-items: center;
    color: pink;
    font-size: 30px;
    background-position: center;
    width: 100%;
}

li, a {
    font-family: 'Bangers', cursive;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: pink;
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

#image {
    height: 30%;
    border-block-start-width: inherit;
    align-self: inherit;
    width: inherit;
}

.list {
    display: flex;
    justify-content: flex-start;  
    align-items: center;   
}

#header-career {
    color: black;
    text-align: center;
    font-size: 50px;
    background-color: white;
}

#tribute-info h1 {
    color: pink;
    text-align: center;
    font-size: 30px;
}

#tribute-info p {
    color: rgb(253, 131, 152);
    text-align: center;
    font-style: normal;
    font-size: 20px;
}

.list {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 5%;
    
}

#header-members {
    color: black;
    text-align: center;
    font-size: 50px;
    background-color: white;
}

.div_members img {
    border-radius: 50%;
    height: 20%;
    width: 20%;
}

.div_members h6 {
    font-style: normal;
    font-size: 50px;
    color: salmon;  
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0%;
}

.div_members {
    text-align: center;
}

.div_members p {
    color: white;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;  
}

button:hover a:hover {
    opacity: 0.7;
}

#main {
    margin-top: 30px;
}