.drop-group {
	display: grid;
	grid-template-columns: 16rem;
	grid-template-rows: auto 1rem;
	margin: 2rem;
}

.drop-input {
	width: 100%;
}

.drop__label {
	&_error {
		color: rgba(crimson, 0.8);
	}
}

.drop__field {
	appearance: none;
	width: 100%;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	appearance: none;
	font-family: "Josefin Sans", sans-serif;
	outline: none;
	border: none;
	border-bottom: 0.1rem solid rgba(black, 0.1);
	padding: 0.2rem;
	font-size: inherit;
	font-weight: 300;
	text-align: center;
	color: gray;
	transition: border-bottom 0.1s ease-in;

	&_error {
		border-bottom: 0.1rem solid rgba(crimson, 0.2);
	}

	&::-ms-expand {
		display: none;
	}

	&:focus {
		border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
	}
	&_error:focus {
		border-bottom: 0.1rem solid rgba(crimson, 0.5);
	}
}

.drop__option {
	font-weight: 300;
	padding: 1rem;
	font-size: inherit;
	outline: none;
}

.drop__toolkit {
	display: none;
	width: 100%;
	font-size: 0.8em;

	&_error {
		display: block;
		color: crimson;
	}
}
