* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#main {
    background:black;
}
.menu {
    background-color:black;
}
.responsive {
    width: 250%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#B80102 ;
    text-decoration: dotted;
}
.logo {
    width: 100px;
    margin-top: 0px;
    margin-right: 20px;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: relative;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
button {
    padding: 9px 25px;
    color: #55433b;
    background-color: rgba(255, 246, 237, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}
button:hover {
    background-color: rgba(255, 246, 237, 0.8);
}
#img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}
#image {
    position: static;
    top: 20%;
    right: 30%;
}
#home-header {
    position: relative;
    top: 10%;
    right: 20%;
}
.caption {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60%;
    height: 70%;
    top: 25%;
    left: 40%;
    position: static;
    color: white;
}
#img-caption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #B80102;;
}
#albums {
    width: 85%;
    border: 10px solid #402e32;
    position: static;
    }   
#About {
    background-color:black ;
    align-items: center;
}
#fun {
    font-size: 40px;
    width: 500px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.box {
    background:black;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
    0px 2px 3px 0px rgba(240, 114, 114, 0.1);
    text-align: center;
    padding: 2em;
}
.box.style1 {
    padding: 3em 2em 3.5em 2em;
}
.box.style1 h3 {
    margin-bottom: 0.5em;
}
.box.style2 h3 {
    margin-bottom: 0.25em;
}
.box.style2 .image {
    position: relative;
    left: 2em;
    top: 2em;
    margin: -4em 0 4em -4em;
    width: auto;
}

h3 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #B80102;
}
p {
    color: white;
}
#facts {
    font-size: 20px;
}
#time {
    font-size: 20px;
}
h2 {
    color:#B80102;
}
#fun {
    font-size: 30px;
    text-align: center;
    color:white;
    background-color: rgb(49, 48, 48);
}  