*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
   
   }
   header{
      background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/luague-vincent/assets/Granger.jpg);
      height: 100vh;
      background-size: cover;
      background-position: center;
   }
   .headerstory{
      background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/luague-vincent/assets/Granger.jpg);
      height: 200vh;
      background-size: cover;
      background-position: center;
   }
   ul{
      float: right;
      list-style-type: none;
      margin-top: 25px;
   }
   ul li {
      display: inline-block;
   }
   ul li a{
      text-decoration: none;
      color:#fff; 
      padding: 5px 20px;
      border: 1 px solid transparent;
   }
   ul li a:hover{
      background-color: #fff;
      color: #000;
   }
   ul li.active a{
      background-color: #fff;
      color: #000;
   }
   .logo img{
      float: left;
      width: 150px;
      height: auto;
   }
   .main{
   max-width: 1200px;
   margin: auto;
   }
   .title{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
   }
   .titlestory{
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-55%,-50%);
   }
   .stats{
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-55%,-50%);
 }
    .picsize{
        width: 800px;
        height: 500px;
    }
   .characteristics{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(50%,-50%);
   }
   .titleskill{
      position: absolute;
      top: 55%;
      left: 40%;
      transform: translate(-50%,-50%);
   }
   
   .title h1{
      color: white;
      font-size: 70px;
   }
   .titlestory h4{
      color: white;
      font-size: 50px;
      
   }
   
   .skillimage{
      height: 300;
      width: 500px;
      text-align: left;
   }
   
   
   
   .titlestory p{
      color: white;
      font-size: 20px;
   
   }
   .titleskill h3{
      color: white;
      font-size: 50px;
   
   }
   .titleskill h4{
      color: white;
      font-size: 25px;
   
   }
   .size{
      height: 300;
      width: 500px;
      position: absolute;
      top: 45%;
      left: 60%;
      transform: translate(10%,-50%);
   
   }
   .storyline{
      position: relative;
      top: 50%;
      right: 100%;
      transform: translate(60%,10%);
   
   }
   
   .button{
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%,-50%);
   }
   .btn{
      border: 1px solid white;
      padding: 10px 30px;
      color: white;
      text-decoration: none;
      transition: 0.6s ease;
   }
   .btn :hover{
      background-color: #fff;
      color: #000;
   }
   
   .skill{
      
     
      color: white;
      display: table-cell;
      height: 100px;
      list-style-type: none;
      vertical-align: middle;
   }
   #thirdDiv{
      height: 50%;
      padding: 50px;
      width: 500px;
      text-align: center;
   }
   .divClass{
      margin: auto;
      text-align: center;
      width: 100px;
      height: 10px;
   }