*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  /* 1rem = 10px; 10px/16px = 62.5% -- 16px is default font size in browser*/ }

body {
  background-image: url("../assets/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  background-color: #e6b7cd;
  width: 80vmin;
  height: 80vmin;
  position: absolute;
  top: 50%;
  /* remember the the origin will be the relative position of the parent */
  left: 50%;
  /* remember the the origin will be the relative position of the parent */
  transform: translate(-50%, -50%);
  /* shifted in related to the current position of the element itself */
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 10vmin);
  grid-template-rows: repeat(8, 10vmin);
  border: 1.5rem solid #e6b7cd;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; }

.box {
  background-color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.container div:nth-child(1) {
  border-radius: 2rem 0 0 0;
  /* top left, top right, bottom right, bottom left */ }

.container div:nth-child(8) {
  border-radius: 0 2rem 0 0;
  /* top left, top right, bottom right, bottom left */ }

.container div:nth-child(57) {
  border-radius: 0 0 0 2rem;
  /* top left, top right, bottom right, bottom left */ }

.container div:nth-child(64) {
  border-radius: 0 0 2rem 0;
  /* top left, top right, bottom right, bottom left */ }

.container div:nth-child(-2n+8),
.container div:nth-child(8) ~ div:nth-child(-2n+15),
.container div:nth-child(16) ~ div:nth-child(-2n+24),
.container div:nth-child(24) ~ div:nth-child(-2n+31),
.container div:nth-child(32) ~ div:nth-child(-2n+40),
.container div:nth-child(40) ~ div:nth-child(-2n+47),
.container div:nth-child(48) ~ div:nth-child(-2n+56),
.container div:nth-child(56) ~ div:nth-child(-2n+63) {
  background-color: #a10843; }
