@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

@media screen and (max-width: 1920px) {
	html {
		font-size: 66.406%; /*17/16* 62.5*/
	}
}

@media screen and (max-width: 1100px) {
	html {
		font-size: 62.5%; /*default browser font = 16px => convert to 10px [16 * 62.5%]*/
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 59.6%; /* 15/16 * 62.5 */
	}
}
@media screen and (max-width: 414px) {
	html {
		font-size: 54.68%; /* 14/16 * 62.5 */
	}
}

body {
	overflow-x: hidden;
	font-size: 1.95rem;
	line-height: 1.3;
	box-sizing: border-box;
	font-family: "Josefin Sans", serif;
	/* font-weight: 300; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	font-weight: 300;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
}

.body {
	display: grid;
	grid-template-rows: 20vh 1fr;
}

#title {
	/* height: 20rem; */
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
}

#title span {
	display: block;
}

#title span,
#title h1 {
	animation: from-left 0.5s linear 1s backwards;
}

#main {
	width: 100%;
}

#img-div {
	height: 80vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
	background: linear-gradient(
			45deg,
			rgba(255, 255, 255, 0.6),
			rgba(255, 255, 255, 0.9)
		),
		url("images/estrada.jpg") center/cover no-repeat;

	transition: all;
}

#img-div img {
	opacity: 0;
	margin: 2rem;
	animation: appear 2s linear 0.2s forwards;
	box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
}

#id-caption {
	position: absolute;
	font-size: 7rem;
	bottom: 2rem;
	z-index: 2;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0 0 1rem white;
	font-weight: normal;
	animation: from-below 3s cubic-bezier(0, 1, 0, 1) 1s backwards;
}

.bio {
	margin-bottom: 4rem;
	width: 90%;
	max-width: 90rem;
	margin: 0 auto;
}

#tribute-info {
	width: 100%;
}

.bio-prag {
	opacity: 0;
	text-indent: 5rem;
	margin-bottom: 1.5rem;
}
.animate {
	animation: from-bottom 5s cubic-bezier(0, 0.95, 0, 0.95) both;
}

.bio-heading {
	margin-bottom: 1rem;
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
}

.filler {
	height: 50rem;
	background: url("images/gun.png") center/cover no-repeat;
	margin: 4rem 0;
}

.end {
	border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
	font-weight: 300;
	/* font-size: 3rem; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50rem;
	width: 100%;
	color: rgba(255, 255, 255, 0.6);
	background: linear-gradient(20deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)),
		url("images/dead.jpg") top/cover no-repeat;
}

#tribute-link {
	text-align: center;
	display: block;
	padding: 1rem;
	background: black;
	color: white;
	cursor: pointer;
}

@media screen and (max-width: 26.66em) {
	.bio-prag,
	.end {
		text-align: justify;
	}
}

@media screen and (max-width: 36.33em) {
	.end {
		height: auto;
		padding-top: 2.5rem;
	}
}

@keyframes from-below {
	0% {
		opacity: 0;
		transform: translateY(1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes from-left {
	0% {
		opacity: 0;
		transform: translateX(-2rem);
	}

	100% {
		opacity: 1;
	}
}

@keyframes from-bottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
