.scienceslist{
    position: absolute;
}
#box{
    position:relative;
    height: 200px;
    min-width:250px;
    background-color: aliceblue;

    margin:5px;

}

.container{
    display:flex;
    background-color: black;
    justify-content: center;
    justify-content: space-evenly;
    padding: 20px;
}
.user-information{
    width: 100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
    background:#fff;
    padding:5px;
    border-radius:5px;
    margin-bottom: 20px;
    
}
#radio{
    margin-top:10px;
}
#name, #email, #number, #phonenumber{
    min-width: 200px;
    text-align: left;
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#dropdown{
    margin:15px;
}
#name-label, #email-label, #number-label, #phonenumber-label{
    display:inline;
    text-align:left;
    margin: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#survey-form{
    padding:5px ;
}


#submit{
    margin-top: 5px;
    background-color: green;
    color: white;
}
#picture2{
    background-image: url("Assets/select.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:70%;
    height:auto;
}
.scienceslist{
    padding: 5px;
    margin-left: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin:0px; 
}