@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 14px;
}

#title {
    font-size: 33px;
}

body {
    margin: 0;
    background-image: url(assets/bg.jpg);
    background-size: 1920px;
    /* box-shadow: inset 0 0 0 1920px rgba(39, 233, 247, 0.2); */
    /* box-shadow: 10px 10px 8px #888888; */
    background-attachment: fixed;
}

/* .layer {
    margin: 0;
    height: 1080px;
    background-size: 1920px;
    background-color: rgba(0, 110, 255, 0.5);
} */

.layer {
    display: flex;
    flex-direction:column ;
    align-items: center;
}

.line {
    padding-block: 8px;
    padding-inline: 15px;
}

.input {
    width: 500px;
    color: black;
}

#description {
    font-style: italic;
}

.option, #dropdown{
    color: black;
}

.motto {
    text-align: center;
}

#red {
    color: red;
}

#red::selection {
    color: red;
}

#orange {
    color: orange;
}

#yellow {
    color:gold;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

#indigo {
    color: indigo;
}

#violet {
    color: violet;
}

option:hover {
    background-color: red;
}

#submit {
    color: black;
    width: 508px;
    background-color:lightskyblue;
    border: none;
    /* border-style: solid; */
    height: 30px;
}

#submit:hover {
    color: white;
    background-color:royalblue;
}

.submit {
    padding-inline: 15px;
    padding-block: 15px;
}

.comment {
    color: black;
    width: 502px;
}

.answer {
    color: black;
}

#optional {
    color:lightgray;
}

#survey-form {
    margin-block: 10px;
    background-color:dodgerblue;
    box-shadow: 10px 10px 8px #00eeff;

}

input:blank {
    border: none;
    border-style:dashed;
    border-width: 3px;
}

/* input:invalid {
    border: red;
    border-style:dashed;
    border-width: 3px;
} */

/* select.selection option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
} */

/* #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#pic {
    width: 7%;
    padding: 5px;
} */

input[type="checkbox"]#milky-way:checked + label {
    color: midnightblue;
    font-weight: bold;
}

input[type="checkbox"]#andromeda:checked + label {
    color: midnightblue;
    font-weight: bold;
}

input[type="checkbox"]#randomly-named-galaxy:checked + label {
    color: midnightblue;
    font-weight: bold;
}

/* planet */
input[type="radio"]#earth:checked + label {
    color: midnightblue;
    font-weight: bold;
}

input[type="radio"]#mars:checked + label {
    color: midnightblue;
    font-weight: bold;
}

input[type="radio"]#saturn:checked + label {
    color: midnightblue;
    font-weight: bold;
}

/* car */
input[type="radio"]#tesla:checked + label {
    color: midnightblue;
    font-weight: bold;
}

input[type="radio"]#toyota:checked + label {
    color: midnightblue;
    font-weight: bold;
}

input[type="radio"]#lamborghini:checked + label {
    color: midnightblue;
    font-weight: bold;
}

