

/* BROWSER RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% -- 16px is default font size in browser*/
  scroll-behavior: smooth;
}


body {
  box-sizing: border-box; /* change box model so borders and paddings are not added to total width and height to borders */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: white;
}

/* END BROWSER RESET */

/* ELEMENTS */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header{
  width: 100%;
  height: 110vh;
  z-index: 5;
}

nav {
  position: fixed;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  top: 25vh;
  left: 3rem;
  z-index: 10;
}

nav > h6 > a {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #987A77;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
}

nav > h6 > a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: #141414;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

section {
  width: 100%;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

article {
  width: 900px;
  margin-top: 5rem;
}

/* responsive query for tablets */
@media only screen and (max-width: 1000px) {
  article {
    width: 600px;
  }
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  white-space: nowrap;
  color: #987A77;
}


hr {
  margin-left: 1rem;
  width: 100%;
  height: 5px;
  border: none;
  background-image: linear-gradient(to right, #000000 , #141414);
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 2rem;
}

p {
  margin-top: 4rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

/* END ELEMENTS */


/* HEADER SECTION */
#img-div {
  position: absolute;
  top: 0;
  left: 0;
}

#img-div > img {
  /* 8. As a user, I want the **img element** to be **responsive** to resizing, relative to the width of its parent element.
  9. As a user, i want the **img element** to be **centered** within its parent element. */
  width: 100%;
  height: 110vh;
  filter: saturate(90%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%); /* specify of the corners (coordinates) of the polygon of the part that you want to be seen */

}

#image {
  position: relative;
  top: 0;
  left: 0;
}

.main-heading {
  position: absolute;
  top: 45%; /* remember the the origin will be the relative position of the parent */
  left: 50%; /* remember the the origin will be the relative position of the parent */
  transform: translate(-50%, -50%); /* shifted in related to the current position of the element itself */
  text-align: center;

  font-family: 'Roboto Condensed', sans-serif;
  line-height: 8rem;
}

.icon-heading {
  position: absolute;
  top: 90%; /* remember the the origin will be the relative position of the parent */
  left: 50%; /* remember the the origin will be the relative position of the parent */
  transform: translate(-50%, -50%); /* shifted in related to the current position of the element itself */
  text-align: center;

  animation-name: generalFade;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.icon-heading > a > i  {
  opacity: 50%;
}

.icon-heading > a > .fa-chevron-circle-down {
  color: white;
  outline: none;
  text-decoration: none;
  transition: ease-out;
  transition-duration: .2s;
}

.icon-heading > a > .fa-chevron-circle-down:hover {
  opacity: 100%;
}

#title{
  color: white;
  font-size: 10rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

#title > span {
  font-weight: 800;
  color: #59504d;

}
#img-caption {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .5rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* END HEADER SECTION */

/* SECTIONS */
#tribute-info {
  z-index: 4;
  margin-top: -30rem; /* to compensate for the gap */
  padding-top: 40rem;
  padding-bottom: 40rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

#gallery-info {
  z-index: 3;
  margin-top: -100rem; /* to compensate for the gap */
  background-color: #ffffff;
  padding-top: 110rem;
  padding-bottom: 30rem;
  color: #000000;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

#gallery-info > article > .article-heading > hr {
  background-image: linear-gradient(to right, #3f3f3f , #ffffff);
}

#story-info {
  z-index: 2;
  margin-top: -20rem;
  padding-top: 30rem;
}

#link-info {
  padding-bottom: 10rem;
}

/* END SECTIONS */

/* GENERAL CLASS */
.article-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.article-heading > h1 {
  letter-spacing: 1rem;
}

/* END GENERAL CLASS */

/* GALLERY SECTION */
.gallery-container {
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-container > img {
  width: 250px;
  margin: 1rem 0;
}

/* END GALLERY SECTION */

/* LINK SECTION */

#tribute-link {
  margin-top: 3rem;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  align-content: center;
  transition: ease-out;
  transition-duration: .2s;
  cursor: pointer;
}

#tribute-link > a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: .3rem;
  transition: ease-out;
  transition-duration: .2s;
}

#tribute-link:hover {
  padding: 1.5rem 4.5rem;
  background-color: white;
}

#tribute-link:hover > a {
  letter-spacing: .5rem;
  color: #141414;
}
/* END LINK SECTION */

/* FOOTER SECTION */
footer > nav {
  width: 40rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
}



/* END FOOTER SECTION */

/* ANIMATIONS */
@keyframes moveInLeft {
  /* start of animation */
  0% {
      opacity: 0;
      transform: translateX(-10rem); /* animate in X direction */
  }

  80% {
      opacity: 1;
      transform: translateX(1rem); /* animate in X direction */
  }

  /* end of animation */
  100% {
      opacity: 1;
      transform: translate(0); /* translate 0 means to be in the original position*/
  }
}


@keyframes moveInRight {
  /* start of animation */
  0% {
      opacity: 0;
      transform: translateX(10rem); /* animate in X direction */
  }

  80% {
      opacity: 1;
      transform: translateX(-1rem); /* animate in X direction */
  }

  /* end of animation */
  100% {
      opacity: 1;
      transform: translate(0); /* translate 0 means to be in the original position*/
  }
}

@keyframes generalFade {
  /* start of animation */
  0% {
      opacity: 0;
  }

  80% {
      opacity: 0.7;
  }

  /* end of animation */
  100% {
      opacity: 1;
  }
}

/* END ANIMATIONS */