/*body{
    background-color: green;
}

.gamegamearea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.coordinate-piecearea{
    //flex: 1;
    flex: 0 0 10%;
    background-color: rgb(71, 71, 85);
    border: 1px solid white;
    text-align: center;
    flex-shrink: 0;
}

.break{
    flex-basis: 100%;
    height: 0;
}*/

*{
	box-sizing: border-piecearea;
}

body{
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	text-align: center;
	color: #FFF;
	background-image: linear-gradient(to right, rgb(167, 30, 30) , rgb(55, 190, 214));
}

.gamearea{
    border: 2px solid rgb(255, 255, 255);
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	
	display: flex;
	flex-wrap: wrap;
	max-width: 480px;
	max-height: 480px;
	width: 100vw;
	height: 100vw;
	box-shadow: 0 10px 10px -5px rgba(0,0,0,.75);
	font-size: 0;
    background-image: url("assets/img/chess-board-game.jpg");
}

.piecearea{
	width: 12.5%;
	height: 12.5%;
	font-size: 8vw;
    line-height: 12vw;
    flex-shrink: 0;
}

.piecearea:nth-child(n+1):nth-child(-n+32){
	color: #222;
}

.gamearea .piecearea:nth-child(n+1):nth-child(-n+8):nth-child(even),
.gamearea .piecearea:nth-child(n+17):nth-child(-n+25):nth-child(even),
.gamearea .piecearea:nth-child(n+33):nth-child(-n+40):nth-child(even),
.gamearea .piecearea:nth-child(n+49):nth-child(-n+56):nth-child(even),
.gamearea .piecearea:nth-child(n+9):nth-child(-n+16):nth-child(odd),
.gamearea .piecearea:nth-child(n+25):nth-child(-n+32):nth-child(odd),
.gamearea .piecearea:nth-child(n+41):nth-child(-n+48):nth-child(odd),
.gamearea .piecearea:nth-child(n+57):nth-child(-n+64):nth-child(odd){
	background-color: rgba(135,50,0,.5);
}

@media screen and (min-width: 480px){
	.gamearea{
		box-shadow: 0 15px 15px -5px rgba(0,0,0,.75);
	}
	.piecearea{
		font-size: 2.5rem;
		line-height: 56px;
    }
}
