* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ddd;
}

p {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 20px;
  color: #a9a9a9;
}

h1#title {
  margin-bottom: 20px;
  font-size: 38px;
  word-spacing: 15px;
  letter-spacing: 5px;
}

a#tribute-link {
  display: block;
  width: 180px;
  height: 35px;
  border: 2px solid;
  line-height: 35px;
  margin: auto;
  text-decoration: none;
  text-align: center;
}

#main {
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/batal-jerald/tribute_page/images/westlife.jpg) ;
  background-attachment: fixed;
  background-size: cover;
}

/* Nav css */

.nav {
  position: fixed;
  width: 100%;
  padding: 15px;
}

.nav-logo img {
  width: 130px;
}

.nav-links {
  flex: 2;
}

.nav-links {
  margin-left: 50px;
  display: inline ;
}


.nav a {
  margin-right: 20px;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}


/* Image Div / Content */

#image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  background-repeat: no-repeat;
  text-align: center;
  color:#fff;
}

#content h1 {
  margin-top: 250px;
  line-height: 38px;
  margin-bottom: 90px;
}

#content p {
  margin: 5% 30%;
  font-size: 20px;
  line-height: 38px;
  margin-bottom: 90px;
}

/* Wikipedia */

#wikipedia {
  text-align: center;
  color:#fff;
}

#wikipedia h1 {
  margin-top: 100px;
  line-height: 38px;
  margin-bottom: 90px;
}

#wikipedia p {
  margin: 0% 30%;
  font-size: 20px;
  line-height: 38px;
  margin-bottom: 90px;
}


/* History */

#history {
  text-align: center;
  color:#fff;
}

#history h1 {
  margin-top: 100px;
  line-height: 38px;
  margin-bottom: 90px;
}

.paragraph {
  margin: 0% 30%;
  font-size: 20px;
  line-height: 38px;
  margin-bottom: 90px;
}

.about_members {
  width: 200px;
  margin: 2% 30%;
  font-size: 20px;
  line-height: 38px;
  margin-bottom: 90px;
}

#history img {
  width: 250px;
  margin-bottom: 25px;
}

#members {
  display: flex;
  margin-top: 35px;
  margin-left: 200px;
  margin-right: 200px;
}

#member {
  width: 20%;
}

/* albums */

#albums h1 {
  text-align: center;
}

/* albums */

#customers {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  margin: auto;
  border-collapse: collapse;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* footer */

#footer {
  width: 100%;
  text-align: center;
  background: #444444;
  padding: 20px 0;
}

#footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}

@media screen and (max-width: 1000px){
  #members{
    flex-direction: column;
  }
}
