*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  /* 1rem = 10px; 10px/16px = 62.5% -- 16px is default font size in browser*/ }

body {
  background-image: url("../assets/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  background-color: #e6b7cd;
  width: 64rem;
  height: 64rem;
  position: absolute;
  top: 50%;
  /* remember the the origin will be the relative position of the parent */
  left: 50%;
  /* remember the the origin will be the relative position of the parent */
  transform: translate(-50%, -50%);
  /* shifted in related to the current position of the element itself */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1.5rem solid #e6b7cd;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; }

.row {
  background-color: transparent;
  height: 12.5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.box {
  background-color: white;
  width: 12.5%;
  height: auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  font-size: 6rem; }

.row:nth-child(even) .box:nth-child(odd),
.row:nth-child(odd) .box:nth-child(even) {
  background-color: #a10843; }

.row:first-child .box:first-child {
  border-radius: 2rem 0 0 0;
  /* top left, top right, bottom right, bottom left */ }

.row:first-child .box:last-child {
  border-radius: 0 2rem 0 0;
  /* top left, top right, bottom right, bottom left */ }

.row:last-child .box:first-child {
  border-radius: 0 0 0 2rem;
  /* top left, top right, bottom right, bottom left */ }

.row:last-child .box:last-child {
  border-radius: 0 0 2rem 0;
  /* top left, top right, bottom right, bottom left */ }
